<?xml version="1.0" encoding="UTF-8" ?>
<tc:tc-config xmlns:tc="http://www.terracotta.org/config"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://www.terracotta.org/schema/terracotta-8.xsd">

<tc-properties>
    <property name="l2.l1reconnect.timeout.millis" value="60000"/>
</tc-properties>

     <servers>
        <server host=<%="\"ip-"+@server1_dns+"."+@aws_dns_tag+"\""%> name="terracotta-server-1">
          <!-- Specify the path where the server should store its data. -->
          <data><%=@tc_home+@tc_serverfilesdir+@tc_datadir%></data>
          <logs><%=@tc_home+@tc_serverfilesdir+@tc_logsdir%></logs>
	 <!-- Specify the port where the server should listen for client traffic. -->
           <tsa-port>9510</tsa-port>
           <jmx-port>9520</jmx-port>
           <tsa-group-port>9530</tsa-group-port>
           <!-- Enable BigMemory on the server. -->
           <offheap>
             <enabled>true</enabled>
             <maxDataSize><%=@tc_maxdatasize%></maxDataSize>
           </offheap>
         </server>

      <!--v Ad  the restartable element for Fast Restartability (optional). -->
<server host=<%="\"ip-"+@server2_dns+"."+@aws_dns_tag+"\""%> name="terracotta-server-2">
          <!-- Specify the path where the server should store its data. -->
          <data><%=@tc_home+@tc_serverfilesdir+@tc_datadir%></data>
          <logs><%=@tc_home+@tc_serverfilesdir+@tc_logsdir%></logs>
	<!-- Specify the port where the server should listen for client traffic. -->
           <tsa-port>9510</tsa-port>
           <jmx-port>9520</jmx-port>
           <tsa-group-port>9530</tsa-group-port>
           <!-- Enable BigMemory on the server. -->
           <offheap>
             <enabled>true</enabled>
             <maxDataSize><%=@tc_maxdatasize%></maxDataSize>
           </offheap>
         </server>

        <client-reconnect-window>120</client-reconnect-window>

      </servers>

      <clients>
        <logs>logs-%i</logs>
      </clients>


    </tc:tc-config>