#!/bin/sh
#
# chkconfig: 2345 99 05
# description: Terracotta service boot after starter
#

. /etc/rc.d/init.d/functions

start () {
        if [ "<%=@tc_server_current%>" = "<%=@tc_server1%>" ]
        then

            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/start-tc-server.sh -f "+@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/tc-config.xml "+"-n terracotta-server-1 >/dev/null 2>&1 &" %> 
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Starting $prog: " /bin/true
            else
                action $"Starting $prog: " /bin/false
            fi
                


        elif [ "<%=@tc_server_current%>" = "<%=@tc_server2%>" ]
        then
            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/start-tc-server.sh -f "+@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/tc-config.xml "+"-n terracotta-server-2 >/dev/null 2>&1 &" %>
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Starting $prog: " /bin/true
            else
                action $"Starting $prog: " /bin/false
            fi
                
        else
          echo "Terracotta servers not found"
        fi
}

stop () {
    if [ "<%=@tc_server_current%>" = "<%=@tc_server1%>" ]
        then
            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/stop-tc-server.sh -f "+@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/tc-config.xml "+"-n terracotta-server-1 >/dev/null 2>&1 &" %>
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Stoping $prog: " /bin/true
            else
                action $"Stoping $prog: " /bin/false
            fi
                
        elif [ "<%=@tc_server_current%>" = "<%=@tc_server2%>" ]
        then
            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/stop-tc-server.sh -f "+@tc_home+"/bigmemory-max-"+@tc_version+"/server/bin/tc-config.xml "+"-n terracotta-server-2 >/dev/null 2>&1 &" %>
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Stoping $prog: " /bin/true
            else
                action $"Stopting $prog: " /bin/false
            fi
                
        else
          echo "Terracotta servers not found"
        fi

}

restart()
{
    stop
    sleep 2
    start
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status start-tc-server.sh
        ;;
    *)
        echo $"Usage: $0 (start|stop|status|restart)"
        exit 1
;;

esac
exit $?