#: utf-8

##
# Setup global project settings for your apps. These settings are inherited by every subapp. You can
# override these settings in the subapps as needed.
#
Padrino.configure_apps do

  # TODO: Enabling this will mean any translation missing will default to :en, so
  # am currently leaving out so we can see what is missing. Should probably
  # comment back in later.
  #
  # require "i18n/backend/fallbacks"
  # I18n::Backend::Simple.send(:include, I18n::Backend::Fallbacks)

  # Typhoeus configuration -
  #
  Typhoeus.configure do |config|
    # config.block_connection = false
    config.memoize = false
    config.verbose = true
  end

  # Grab the oauth and aws settings, which is needed for carrierwave
  #
  require File.join(Padrino.root("config", "oauth_settings"))

  CarrierWave.configure do |config|
    config.fog_credentials = {
      :provider  => 'AWS', # required
      :aws_access_key_id => AWS_KEY, # required
      :aws_secret_access_key => AWS_SECRET, # required
      :region => 'eu-west-1'#, # optional, defaults to 'us-east-1'
      #:host => 's3.example.com', # optional, defaults to nil
      #:endpoint => 'https://s3.example.com:8080' # optional, defaults to nil
    }
    config.fog_directory  = 'public-avatar' # required
    # config.fog_public     = false # optional, defaults to true
    # config.fog_attributes = {'Cache-Control'=>'max-age=315576000'} # optional, defaults to {}
  end

  require 'rbconfig'

  if RbConfig::CONFIG['host_os'] =~ /linux/
    arch = RbConfig::CONFIG['host_cpu'] == 'x86_64' ? 'wkhtmltopdf_linux_x64' : 'wkhtmltopdf_linux_386'
  elsif RbConfig::CONFIG['host_os'] =~ /darwin/
    arch = 'wkhtmltopdf_darwin_386'
  else
    raise "Invalid platform. Must be running Intel-based Linux or OSX."
  end

  WickedPdf.config = {
    exe_path: "#{ENV['GEM_HOME']}/gems/wkhtmltopdf-binary-#{Gem.loaded_specs['wkhtmltopdf-binary'].version}/bin/#{arch}"
  }

  # All configs
  #
  configure do
    set :api_headers, { "Content-Type" => "application/vnd.hi360.gateway.v1+json" }
    set :fakeapi_url, "http://fakeapi.localhost:9293" # Set in individual envs
    set :liveapi_url, "http://fakeapi.localhost:9293" # Set in individual envs
    set :liveapi_customer_slug, "new-customer" # Set in individual envs
    set :liveapi_hostel_slug, "new-hostel" # Set in individual envs
    set :google_analytics, "UA-48820988-1"
    set :ga_groups, "UA-49258335-2"
    set :ga_affiliates, "UA-49383367-1"
    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
    set :group_hostels_url, 'http://groups.hihostels.com'
    set :uploads_path, File.join(PADRINO_ROOT, "/public")
    set :scrape_image_min_x, 200
    set :scrape_image_min_y, 200
    set :scrape_image_max_returned, 20
    set :scrape_image_max_ratio, 3
    set :canvas_consumer_secret, "secret"
    set :canvas_login_url, "https://test.salesforce.com"
    #set :redis_prefix, "l_"

    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "293114640820734"
    set :facebook_secret, "1d441a20f7788e26da8ba71b6c88150a"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1043886177312.apps.googleusercontent.com"
    set :google_secret, "03SuZCpvX7QqyCgDLuAHOuOM"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "FAidxYHLnKckvabRb9GPGg"
    set :twitter_secret, "qCjFRnNVJtdCHhciKIBche5u0zxQYYLRJdzoHcPQ"

    set :affiliates_host, "https://affiliates.hihostels.com"
    set :redis_host, '127.0.0.1'
    set :redis_port, 6379
    set :airbrake_key, '4448d7b5fc8633c66e7577de299d38e5'
    set :use_airbrake, Padrino.env == :production
    set :mainapp_url, "http://dev.hihostels.com"
    set :running_revision, `cat REVISION 2>/dev/null`.chomp
    set :running_hostname, `hostname`.chomp
  end

  ###
  # development config
  configure :devpp do
    #set :liveapi_url, "http://fakeapi.localhost:9293" # Fake API
    #set :liveapi_url, "http://192.168.1.205:8080" # Ram local
    #set :liveapi_url, "http://api.staging.hihostels.com" # Dev AWS API
   # set :liveapi_url, "http://fakeapi.localhost:9293"
    set :fakeapi_url, "http://fakeapi.localhost:9293"
   # set :liveapi_url, "http://fakeapi.localhost:9293"
    set :liveapi_url, "http://api-dev-preprod-1924134472.us-east-1.elb.amazonaws.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use for fake data
    set :show_exceptions, true
    set :canvas_consumer_secret, "6036119528526386132"
    set :canvas_login_url, "https://test.salesforce.com"

    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "293114640820734"
    set :facebook_secret, "1d441a20f7788e26da8ba71b6c88150a"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1043886177312.apps.googleusercontent.com"
    set :google_secret, "03SuZCpvX7QqyCgDLuAHOuOM"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "FAidxYHLnKckvabRb9GPGg"
    set :twitter_secret, "qCjFRnNVJtdCHhciKIBche5u0zxQYYLRJdzoHcPQ"

    set :affiliates_host, "http://affiliates-dev.hihostels.com"
    # Padrino.mount("FakeApi").host(/fakeapi\.*/)
    set :mainapp_url, "http://dev.hihostels.com"
    set :group_hostels_url, 'http://groups-dev.hihostels.com'

    set :redis_host, 'ec2-54-161-184-94.compute-1.amazonaws.com'
  end

  configure :development do
    #set :liveapi_url, "http://fakeapi.localhost:9293" # Fake API
    #set :liveapi_url, "http://192.168.1.205:8080" # Ram local
    #set :liveapi_url, "http://api.staging.hihostels.com" # Dev AWS API
   # set :liveapi_url, "http://fakeapi.localhost:9293"
    set :fakeapi_url, "http://fakeapi.localhost:9293"
   # set :liveapi_url, "http://fakeapi.localhost:9293"
    set :liveapi_url, "<%=@myapiurl%>"                           ########### API ###############
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use for fake data
    set :show_exceptions, true
    set :canvas_consumer_secret, "6036119528526386132"
    set :canvas_login_url, "https://test.salesforce.com"

    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "293114640820734"
    set :facebook_secret, "1d441a20f7788e26da8ba71b6c88150a"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1043886177312.apps.googleusercontent.com"
    set :google_secret, "03SuZCpvX7QqyCgDLuAHOuOM"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "FAidxYHLnKckvabRb9GPGg"
    set :twitter_secret, "qCjFRnNVJtdCHhciKIBche5u0zxQYYLRJdzoHcPQ"

    set :affiliates_host, "http://affiliates-dev.hihostels.com"
    # Padrino.mount("FakeApi").host(/fakeapi\.*/)
    set :mainapp_url, "http://dev.hihostels.com"
    set :group_hostels_url, 'http://groups-dev.hihostels.com'

    set :redis_host, '<%=@redis_host%>'      #################### dev REDIS ##################


  end

  ###
  # Test config
  configure :test do
    set :fakeapi_url, "http://127.0.0.1:3001/fakeapi"
    set :liveapi_url, "http://api.test.hihostels.com"
    set :uploads_path, File.join(PADRINO_ROOT, "/test", "/public")
    #set :redis_prefix, "test_"
    #set :group_hostels_url, "https://www.google.com/search?q=group%20hostels"

    # The magic incantation which allows stack traces to show up in
    # test output.
    #
    set :raise_errors, true
    set :dump_errors, false
    set :show_exceptions, false
    set :canvas_consumer_secret, "secret"
    set :canvas_login_url, "https://test.salesforce.com"

    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "293114640820734"
    set :facebook_secret, "1d441a20f7788e26da8ba71b6c88150a"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1043886177312.apps.googleusercontent.com"
    set :google_secret, "03SuZCpvX7QqyCgDLuAHOuOM"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "FAidxYHLnKckvabRb9GPGg"
    set :twitter_secret, "qCjFRnNVJtdCHhciKIBche5u0zxQYYLRJdzoHcPQ"
  end

  ###
  # Staging config
  configure :staging do
    set :fakeapi_url, "http://fakeapi.staging.hihostels.com"
    # set :liveapi_url, "http://api-dev-preprod-1924134472.us-east-1.elb.amazonaws.com"
    set :liveapi_url, "http://api.staging.hihostels.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "aabenraa"
    set :show_exceptions, true
    set :canvas_consumer_secret, "5683530137090620062"
    set :canvas_login_url, "https://test.salesforce.com"
    set :google_analytics, "UA-49068424-1"
    set :ga_groups, "UA-49258335-2"
    set :ga_affiliates, "UA-49383367-1"

    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'

    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "442606309182111"
    set :facebook_secret, "0424158ce435f5ba4467b901bd9943a7"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1003480917406-h1j4n4kef7iovt9absuq6l778243u0dd.apps.googleusercontent.com"
    set :google_secret, "OimN6KyGCRTVTl0pQv99Yare"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "L9anrc9IipIEjkXDJbJADw"
    set :twitter_secret, "tsdCmWiaLp8Dt6GNKjHl19UeksTv6GAif3zst0rxk"

    set :affiliates_host, "https://affiliates-staging.hihostels.com"
    set :redis_host, 'ec2-54-195-16-78.eu-west-1.compute.amazonaws.com'
    set :mainapp_url, "https://staging.hihostels.com"
    set :group_hostels_url, 'http://groups-staging.hihostels.com'
  end

  ###
  # Production config
  configure :production do
    set :fakeapi_url, "http://fakeapi.hihostels.com"
    # set :liveapi_url, "http://api-1047849791.eu-west-1.elb.amazonaws.com"
    set :liveapi_url, "http://api.hihostels.com"
    set :liveapi_hostel_slug, "aabenraa"
    set :show_exceptions, true
    set :canvas_consumer_secret, "8028121891970275221"
    set :canvas_login_url, "https://login.salesforce.com"

    set :google_analytics, "UA-9040848-2"
    set :ga_groups, "UA-49258335-2"
    set :ga_affiliates, "UA-49383367-1"

    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'

    # Facebook creds - Set up using the headlondontesting@gmail.com Google account
    set :facebook_app_id, "188812331284938"
    set :facebook_secret, "d9bdcceb65dbd7ec1820f9774836c12e"
    set :facebook_options, {} # ugly but works

    # Google creds - Set up using the headlondontesting@gmail.com Google account
    set :google_key, "1003480917406.apps.googleusercontent.com"
    set :google_secret, "4lnry4LsP5orsym4gx3E1ojW"

    # Twitter creds - Set up using the "wearehead" Twitter account
    set :twitter_app_id, "SN5biAXiohTCm0BljbAeLA"
    set :twitter_secret, "2zhtFfY1MKtqPgkWSTfLF1uSt2CR5sGjkPkLALkXf6k"

    set :affiliates_host, "https://affiliates.hihostels.com"
    set :redis_host, 'ec2-54-195-166-192.eu-west-1.compute.amazonaws.com'
    set :mainapp_url, "https://www.hihostels.com"
  end

  ###
  # frontend config
  configure :frontend do
    set :fakeapi_url, "http://fakeapi.dev.hihostels.com"
    set :liveapi_url, "http://api.staging.hihostels.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use with fake data
    set :show_exceptions, true

    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
  end

  configure :groupsdev do
    set :liveapi_url, "http://api.dev.hihostels.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use with fake data
    set :show_exceptions, true
    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
  end

  configure :groupstest do
    set :liveapi_url, "http://api-dev-preprod-1924134472.us-east-1.elb.amazonaws.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use with fake data
    set :show_exceptions, true
    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
  end

  configure :groupsstaging do
    set :liveapi_url, "http://api.staging.hihostels.com"
    set :liveapi_customer_slug, "C00000022" # TEMP customer slug to use with fake data
    set :liveapi_hostel_slug, "amsterdam-hostel" # TEMP hostel slug to use with fake data
    set :show_exceptions, true
    # If a search is made for 9+ rooms, the user is diverted to this URL.
    # {{q}} is replaced with the search query.
    # {{arrival}} is replaced with the arrival date.
    # {{departure}} is replaced with the departure date.
    # {{nights}} is replaced with the number of nights.
    # For example:
    # set :group_hostels_url, 'https://www.example.com/find_hostels?q={{q}}&a={{arrival}}&d={{departure}}&n={{nights}}'
  end

end

# Mounts the core application for this project
Padrino.mount("Affiliates").host(/affiliates\.*/)
Padrino.mount("BookingCentre").host(/bookingcentre\.*/)
Padrino.mount("Admin").host(/admin\.*/)
Padrino.mount("Groups").host(/groups\.*/)
Padrino.mount("MainApp").to('/')

#Padrino::Logger::Config[:development] = { :log_level => :debug, :stream => :to_file }
#Padrino::Logger::Config[:mp_dev] = { :log_level => :debug, :stream => :to_file }