#!/bin/sh
#
# chkconfig: 2345 99 05
# description: Terracotta-tmc service boot after starter
#

. /etc/rc.d/init.d/functions

start () {
       

            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/tools/management-console/bin/start-tmc.sh >/dev/null 2>&1 &" %> 
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Starting $prog: " /bin/true
            else
                action $"Starting $prog: " /bin/false
            fi
                



}

stop () {
            <%=@tc_home+"/bigmemory-max-"+@tc_version+"/tools/management-console/bin/stop-tmc.sh >/dev/null 2>&1 &" %> 
            ret=$?
            if [ $ret -eq 0 ]; then
                action $"Stoping $prog: " /bin/true
            else
                action $"Stoping $prog: " /bin/false
            fi

}

restart()
{
    stop
    sleep 2
    start
}

case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    restart)
        restart
        ;;
    status)
        status start-tmc.sh
        ;;
    *)
        echo $"Usage: $0 (start|stop|status|restart)"
        exit 1
;;

esac
exit $?